<div id="image-viewer" ng-show='showViewer'>
  <button type='button' id="close-viewer" class='close text-light' aria-label='Close' ng-click='hideViewer()'>
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="image-carousel text-light enable_touchmove">
    <ul rn-carousel rn-carousel-controls rn-carousel-buffered slides="images" rn-carousel-index='activeImage'
      class='enable_touchmove'>
      <li class='image-carousel-li enable_touchmove' ng-repeat="image in images">
        <div class="image-container">
          <div class='clear-flex-grow-expansion text-center'>
            <img ng-src="{{image.path}}" alt="{{image.caption}}" class="enable_touchmove" />
          </div>
          <span class='carousel-caption lead enable_touchmove no-select'>{{image.caption}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
