<div class="home my-n5">
  <div class="card row my-5">
    <div class="card-body blurb">
      <h3 class="card-title">Who am I?</h3>
      <div class="profile-img my-photo"></div>
      <p ng-repeat='paragraph in blurb.split("\n")' ng-bind-html='deliberatelyTrustDangerousSnippet(paragraph)'></p>
    </div>
  </div>
  <div class="card row my-5">
    <h3 class="card-header">What have I done?</h3>
    <div class="card-body container-fluid">
      <div class="row my-n3 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        <div class='col p-3' ng-repeat='short in short_desc'>
          <div class='thumbnail-grid-item card hvr-grow'>
            <span class='thumbnail-tag badge'
              ng-class='{"badge-info": short.label=="Project", "badge-success": short.label=="School", "badge-primary":short.label=="Job"}'>{{short.label}}</span>
            <img class='thumbnail-img card-img-top' ng-src="{{short.thumbnail}}" alt="" />
            <div class="card-body px-3 py-2">
              <h5 class='card-title'>{{short.name}}</h5>
              <p class="caption card-text">{{short.desc}}</p>
            </div>
            <div class='px-3 pb-2 d-flex justify-content-end'>
              <a class="btn btn-outline-secondary btn-sm stretched-link"
                ng-href='{{short.pageLoc}}?loc={{short.loc}}'>Learn
                more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>