<div class='card'>
  <div class='card-header d-flex justify-content-between align-items-center'>
    <h3>{{$ctrl.title}}</h3>
    <span class='fa fa-images fa-2x toggle-image-slider' title='Hide/show images' ng-if='$ctrl.hasImages()'
      ng-click='$ctrl.toggleImages()' ng-class='{ active: $ctrl.showImages() }'></span>
  </div>
  <div class="card-img-top image-carousel text-dark inline-carousel enable_touchmove" ng-if='$ctrl.hasImages()'
    ng-show='$ctrl.showImages()'>
    <ul rn-carousel rn-carousel-controls rn-carousel-buffered rn-carousel-index='$ctrl.activeImage'
      class='enable_touchmove'>
      <li class='image-carousel-li enable_touchmove' ng-repeat="image in $ctrl.images">
        <div class="image-container">
          <img ng-src="{{image.path}}" alt="" class="image enable_touchmove" />
          <span class='carousel-caption enable_touchmove'>{{image.caption}}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class='card-body' ng-if='$ctrl.intro'>
    <p ng-repeat='pText in $ctrl.intro.splice("\n")' ng-bind-html='pText'></p>
  </div>
  <div class='events list-group list-group-flush'>
    <tbs-resume-list-entry class='list-group-item' ng-repeat='entry in $ctrl.entries' entry='entry'>
    </tbs-resume-list-entry>
  </div>
  <div class='card-footer' ng-if='$ctrl.footer'>
    <div ng-bind-html='$ctrl.footer'></div>
  </div>
</div>
