<div id="loading">
	<div class="progress">
		<div class="progress-bar progress-bar-success" role="progressbar" progress-bar-watch="progress" aria-valuenow="" progress-bar aria-valuemin="0" aria-valuemax="7">
	    	<span class="sr-only">{{progress/total*100 | number:0}}% Complete</span>
		</div>
	</div>
</div>
<div class="projects col-xs-12 col-sm-8 col-lg-7 col-lg-push-1">
	<div class="panel panel-success">
		<h3 class="panel-heading">Who am I?</h3>
		<div class="panel-body blurb">
		<div class="profile my-photo"></div><p ng-repeat='paragraph in blurb.split("\n")' ng-bind-html='deliberatelyTrustDangerousSnippet(paragraph)'></p>
		</div>
	</div>
	<div class="panel panel-primary">
		<h3 class="panel-heading">What have I done?</h3>
		<div class="panel-body all-thumbs">
			<div class="thumbnail-grid col-xs-12">
				<div class="thumbnail-grid-item hvr-grow col-xs-6 col-sm-4 col-md-3" ng-repeat='short in short_desc|orderBy:"-desc"' ng-click='makeActive(short.page); goTo(short.loc);'>
					<div class="thumbnail">
						<div class="thumb-wrapper">
							<div class="thumb-container col-xs-12"><img class='' ng-src="{{short.thumbnail}}" alt=""></div>
							<span class='tag label' ng-class='{"label-info": short.label=="Project", "label-success": short.label=="School", "label-primary":short.label=="Job"}'>{{short.label}}</span>
						</div>
						<div class="title col-xs-12">
							<h4>{{short.name}}</h4>
						</div>
						<div class="caption col-xs-12">
							<p>{{short.desc}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<sidebar id='sidebar-container' class="sidebar-not-fixed col-xs-12" spark-scroll="{
198:{ 'downAddClass,upRemoveClass': 'sidebar-fixed' }
}"></sidebar>