<div id="image-viewer" ng-show='showViewer'>
	<span id="close-viewer" class='glyphicon glyphicon-remove' ng-click='hideViewer()'></span>
	<div class="image-carousel enable_touchmove">
		<ul rn-carousel rn-carousel-controls rn-carousel-buffered slides="images" rn-carousel-index='activeImage' class='enable_touchmove'>
			<li class='image-carousel-li enable_touchmove' ng-repeat="image in images">
				<div class="image-container">
					<img ng-src="{{image.path}}" alt="{{image.caption}}" class="enable_touchmove"/>
				</div>
				<div class='image-caption-wrapper'>
					<span class='image-caption enable_touchmove noselect'>{{image.caption}}</span>
				</div>
			</li>
		</ul>
	</div>
</div>