<div class='progress-wrapper container-fluid' ng-if="$ctrl.inProgress()">
  <strong>Loading {{$ctrl.description | lowercase}}...</strong>
  <div class='progress' role='progressbar' ng-if='$ctrl.isIndeterminate'>
    <div class='progress-bar progress-bar-striped progress-bar-animated bg-success w-100'></div>
  </div>
  <progress ng-if="!$ctrl.isIndeterminate" class="progress" role="progressbar" value="{{$ctrl.getValue()}}"
    max="{{$ctrl.getMax()}}">
    <span sr-only>{{ $ctrl.getValue() / $ctrl.getMax() * 100}}% Loaded...</span>
  </progress>
</div>
