<div class='card'>
  <div class='card-header d-flex justify-content-between align-items-center'>
    <h3>{{$ctrl.title}}</h3>
    <button class="btn py-0 px-2 btn-outline-secondary" data-bs-toggle="button" ng-if='$ctrl.images.length'
      ng-click='$ctrl.toggleImageVisibility()' ng-class='{ active: $ctrl.imagesVisible }' aria-pressed="{{$ctrl.imagesVisible }}" title='Hide/show images'>
      <span class='fa fa-images'></span>
    </button>
  </div>
  <tbs-image-carousel class="card-img-top" images="$ctrl.images" name="{{$ctrl.title}}" ng-if='$ctrl.images.length'
    ng-show='$ctrl.imagesVisible'></tbs-image-carousel>
  <div class='card-body' ng-if='$ctrl.intro'>
    <p ng-repeat='pText in $ctrl.intro.splice("\n")' ng-bind-html='pText'></p>
  </div>
  <div class='events list-group list-group-flush'>
    <tbs-resume-list-entry class='list-group-item' ng-repeat='entry in $ctrl.entries' entry='entry'>
    </tbs-resume-list-entry>
  </div>
  <div class='card-footer' ng-if='$ctrl.footer'>
    <div ng-bind-html='$ctrl.footer'></div>
  </div>
</div>
