
// After the transition this will be the only class remaining
.image-slide-left-in,
.image-slide-left-out,
.image-slide-right-in,
.image-slide-right-out {
	@include transition(all 0.7s ease);
	left: 0px; // Default value but added for clarity
}
// Initial state when showing
.image-slide-left-in.ng-hide-remove {
	@include transform(rotateY(90deg));
	left:calc(100%);
}
// Will transition towards this state
.image-slide-left-in.ng-hide-remove.ng-hide-remove-active {
	@include transform(rotateY(0deg));
	left:0px;
}
// Initial state when showing
.image-slide-left-out.ng-hide-add {
	@include transform(rotateY(0deg));
	left:0px;
}
// Will transition towards this state
.image-slide-left-out.ng-hide-add.ng-hide-add-active {
	@include transform(rotateY(-90deg));
	left:calc(-1 * 100%);
}
// Initial state when showing
.image-slide-right-in.ng-hide-remove {
	left:calc(100%);
}
// Will transition towards this state
.image-slide-right-in.ng-hide-remove.ng-hide-remove-active {
	left:0px;
}
// Initial state when showing
.image-slide-right-out.ng-hide-add {
	left:0px;
}
// Will transition towards this state
.image-slide-right-out.ng-hide-add.ng-hide-add-active {
	left:calc(-1 * 100%);
}





// After the transition this will be the only class remaining
.fade-in {
	@include transition(all cubic-bezier(0.100, 0.200, 0.300, 0.940) 1s);
	// Default value but added for clarity
}

// Initial state when showing
.fade-in.ng-hide-remove {
	opacity: 0;
}

// Will transition towards this state
.fade-in.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}



.me-slide-down,
.me-slide-up {
	@include transition(max-height ease-out 0.3s);
	@include transform-origin(top);
}

// Initial state when showing
.me-slide-down.ng-hide-remove {
	max-height: 0px;
}

// Will transition towards this state
.me-slide-down.ng-hide-remove.ng-hide-remove-active {
	max-height: 250px;
}

// Initial state when showing
.me-slide-up.ng-hide-add {
	max-height: 250px;
}

// Will transition towards this state
.me-slide-up.ng-hide-add.ng-hide-add-active {
	max-height: 0px;
}