@mixin touch_select($value) {
    -webkit-touch-callout: $value;
    @include css3-prefix('user-select', $value)
}

@mixin transform-origin($value) {
	@include css3-prefix('transform-origin', $value);
}

@mixin clickable {
	cursor: pointer;
}

@mixin size($width, $height:$width) {
	width: $width;
	height: $height;
}

@mixin min-size($width, $height:$width) {
	min-width: $width;
	min-height: $height;
}

@mixin max-size($width, $height:$width) {
	max-width: $width;
	max-height: $height;
}

@mixin no-drag-away-events {
	@include touch_select(none);
	cursor: default;
}

@mixin no-cursor-events {
	@include no-drag-away-events;
	pointer-events: none;
}

@mixin abs-pos($top:none,$right:none,$bottom:none,$left:none) {
	@if $top != none {top:$top;}
	@if $right != none {right:$right;}
	@if $bottom != none {bottom:$bottom;}
	@if $left != none {left:$left;}
}

@mixin v-align {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin parent-v-align {
	@include transform-style(preserve3d);
}

$bgColor: #cccccc;

.noselect, img {
	@include no-cursor-events;
}

.facebook-round {
	background-image: url(../assets/round-icons/Facebook-round.png);
}

.linkedin-round {
	background-image: url(../assets/round-icons/Linkedin-round.png);
}

.google-round {
	background-image: url(../assets/round-icons/Google-plus-round.png);
}

.ty-round {
	background-image: url(../assets/round-icons/life-of-ty-sm.png);
}

.ph-round {
	background-image: url(../assets/round-icons/pond-hopping-sm.png);
}

.email-round {
	background-image: url(../assets/round-icons/email-2-icon.png);
}

.me-round {
	background-image: url(../assets/round-icons/me-round.png);
}

.pdf-round {
	background-image: url(../assets/round-icons/pdf-round.png);
}

.bullet-ok {
	margin-right: 3px;
	top: 2px !important;
}

.hidden {
	visibility: hidden;
}

.panel {
	position: relative;
}

h4 {
	&.panel-heading {
		margin-top:0px;
		margin-bottom: 0px;
	}
	span.label {
		font-size: 10px;
		float: right;
		margin-top: 25px;
	}
}

h3 {
	&.panel-heading {
		margin-top: 0px;
		padding-right:35px;
	}
}

.panel-body {
	overflow: hidden;
	h4 {
		margin-top: 0px;
	}
	h3 {
		margin-top:0px;
	}
}

.back-to-top {
	z-index: 3;
	display: none;
	position: fixed;
	@include abs-pos(none, 10px, 10px);
}

.right-toggle {
	float:right;
	opacity: 0.3;
	&:hover {
		cursor: pointer;
	}
}

.show-me {
	display: inherit;
}

.hide-me {
	display: none;
}

.opaque {
	opacity: 1;
}

.half {
	opacity: 0.5;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}

.orange {
	background-color: orange;
}