
.all-thumbs {
	overflow-x:scroll;
	padding: 20px 0px 0px 0px;
}

.thumbnail-grid {
	width: 100%;
}

.thumbnail-grid-item {
	display: inline-block;
	height:250px;
	position: relative;
	&:hover {
		text-decoration: none;
	}
}

.thumbnail {
	position: relative;
	height:92%;
	.title {
		text-align: center;
		overflow:hidden;
		max-height: 40px;
		width: 100%;
	}
	&:hover {
		cursor: pointer;
	}
	.caption {
		height: 58px;
		overflow: hidden;
		padding:0px;
		line-height: 14px;
		margin: 0px 5px 5px 5px;
	}
}

.thumb-container {
	padding:0px;
	overflow:hidden;
	height: 100px;
	@include parent-v-align;
	img {
		@include v-align;
		max-width: 100%;
		max-height: 100%;
	}
}

.thumb-wrapper {
	position: relative;
	text-align: center;
	span {
		position: absolute;
		@include transform(rotateZ(-20deg));
		margin-top: -2px;
		left:-10px;
	}
}