
.image-carousel {
	margin: -16px -15px 20px -15px;
	box-sizing:border-box;
	border-bottom: 1px solid rgba(200,200,200, 0.5);
	position: relative;
	height:325px;
	overflow: hidden;
	ul {
		@include size(100%);
	}
}

.close-image-slider {
	position: absolute;
	right:10px;
	top:10px;
}

.image-container {
	@include size(100%);
	display: table-cell;
	float:left;
	line-height:325px;
	vertical-align: middle;
	text-align: center;
	img {
		@include max-size(100%, 100%);
		background-position:center center;
		background-repeat:no-repeat;
		background-size: cover;
	}
}

.rn-carousel-control {
	border-radius: 20px;
	background-color: rgba(255,255,255,0.5);
	color:rgba(50,50,50,0.5);
	@include transition(all 0.3s);
	border: 2px solid rgba(50,50,50,0.5);
	&:hover {
		cursor: pointer;
		background-color: rgba(255,255,255,0.8);
		color: rgba(35,82,124,1);
		border: 2px solid rgba(35,82,124,0.8);
	}
}

.rn-carousel-control-next {
	padding: 0px 3px 2px 5px;
}

.rn-carousel-control-prev {
	padding: 0px 5px 2px 3px;
}

.image-caption-wrapper {
	position: absolute;
	@include abs-pos(none,0px,none,0px);
	margin-left:auto;
	margin-right:auto;
	bottom: 15px;
	text-align: center;
}

.image-caption {
	border-radius: 20px;
	font-size: 15px;
	color: white;
	border: 3px solid rgba(50,50,50, 0.3);
    background-clip: padding-box;
	background-color: rgba(0,0,0,0.6);
	padding:3px 10px 3px 10px;
}

.zoom {
	@include transform(translate3DZ(0px));
}

.zoom:hover {
	@include transform(translate3DZ(50%));
}



/* Custom Image Slider CSS */
// .image-slider-wrapper {
// 	margin: -25px -15px 30px -15px;
// 	box-sizing:border-box;
// 	border-bottom: 1px solid rgba(200,200,200, 0.5);
// 	padding-bottom: 20px;
// 	background-color: white;
// 	position: relative;
// 	height:325px;
// 	overflow: hidden;
// }

// .image-slider {
// 	position: relative;
// }

// .image-slider-image {
// 	position: absolute;
// 	z-index: 0;
// 	@include size(100%, 100%);
// }
// .image-change {
// 	position:absolute;
// 	z-index:3;
// 	height: 100%;
// 	padding-top:140px;
// 	width: 15%;
// 	text-align: center;
// 	vertical-align: middle;
// 	@include transition(all 0.5s);
// 	> span {
// 		border-radius: 20px;
// 		background-color: rgba(255,255,255,0.3);
// 		color:rgba(50,50,50,0.3);
// 		border: 2px solid rgba(50,50,50,0.3);
// 		padding:2px 3px 3px 2px;
// 	}
// }

// .image-change.left {
// 	background: linear-gradient(270deg,rgba(50,50,50,0), rgba(50,50,50,0.15));
// }
// .image-change.right {
// 	background: linear-gradient(90deg,rgba(50,50,50,0), rgba(50,50,50,0.15));
// }

// .image-change:hover > span {
// 	background-color: rgba(255,255,255,0.5);
// 	color: rgba(35,82,124,1);
// 	border: 2px solid rgba(35,82,124,0.7);
// 	&.left:hover {
// 		background: linear-gradient(270deg,rgba(50,50,50,0.01), rgba(50,50,50,0.2));
// 		}
// 	&.right:hover {
// 		background: linear-gradient(90deg,rgba(50,50,50,0.01), rgba(50,50,50,0.2));
// 	}
// }

// .previous-image {
// 	left: 0px;
// }

// .next-image {
// 	right: 0px;
// }