body {
	position: relative;
	background: white 640px 480px repeat fixed;
	min-height: 100%;
}

.about, .projects {
	h3.panel-heading {
		margin-bottom:0px;
	}
}

#loading {
	z-index: 5000;
	position: fixed;
	@include size(100%, 100%);
	@include abs-pos(0,0,0,0);
	background-color: rgba(0,0,0,0.5);
	vertical-align: middle;
	text-align: center;
	.progress {
		opacity: 1;
		@include size(50%, none);
		margin: 30% 25% 10% 25%;
	}
}

#tab-content {
	position: absolute;
	margin-top: 240px;
}

.view-container {
	position: absolute;
	top: 270px;
	@include size(100%);
}

#image-viewer {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
	@include size(100%);
}

#close-viewer {
	@include clickable;
	font-size: 20px;
	position: absolute;
	@include abs-pos(10px,10px);
}

#viewer-main {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	@include size(90%);
	top:5%;
	left:5%;

	.view-carousel {
		box-sizing:border-box;
		position: relative;
		height:100%;
		overflow: hidden;

		ul {
			@include size(100%);
		}

		&.rn-carousel-control {
			border-radius: 20px;
			background-color: rgba(255,255,255,0.5);
			color:rgba(50,50,50,0.5);
			@include transition(all 0.3s);
			border: 2px solid rgba(50,50,50,0.5);
			&:hover {
				cursor: pointer;
				background-color: rgba(255,255,255,0.8);
				color: rgba(35,82,124,1);
				border: 2px solid rgba(35,82,124,0.8);
			}
		}

		&.rn-carousel-control-next {
			padding: 0px 3px 2px 5px;
		}

		&.rn-carousel-control-prev {
			padding: 0px 5px 2px 3px;
		}
	}

	.view-image-container {
		@include size(100%);
		display: table-cell;
		float:left;
		line-height:100%;
		vertical-align: middle;
		text-align: center;
		img {
			@include max-size(100%, 100%);
			background-position:center center;
			background-repeat:no-repeat;
			background-size: cover;
		}
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; 
		}
	}

	.view-caption-wrapper {
		position: absolute;
		color: white;
		@include abs-pos(none,0px,none,0px);
		margin-left:auto;
		margin-right:auto;
		bottom: 15px;
		text-align: center;
	}

	.view-image-caption {
		border-radius: 20px;
		font-size: 15px;
		color: white;
		border: 3px solid rgba(50,50,50, 0.3);
	    background-clip: padding-box;
		background-color: rgba(0,0,0,0.6);
		padding:3px 10px 3px 10px;
	}
}

#sidebar {
	overflow: visible;
	position: fixed;
	top:0px;
	right:0px;
	height: 100%;
	z-index: 10;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em; 
	}

	.contents-side-nav {
		display: inline-block;
 		vertical-align: middle;
	}

	a {
		@include clickable;
		display: block;
		margin-bottom: 3px;
		margin-right: 15px;
		@include transition(transform ease-in-out 0.2s);
		&:hover {
			@include transform(scale(1.2,1.2));
		}
	}
	.content-item {
		@include size(15px);
		background-color: rgba(50, 100, 150, 0.6);
		border-radius: 3px;
		&.active-content {
			background-color: rgba(50, 100, 150, 1);
		}
	}
}

footer {
	position: relative;
	display: inline-block;
	text-align: center;
	bottom: 0px;
	width: 100%;
}