body {
	position: relative;
	background: url(../assets/pattern.jpg) 640px 480px repeat fixed;
	min-height: 100%;
}

.about, .projects {
	h3.panel-heading {
		margin-bottom:0px;
	}
}

#loading {
	z-index: 5000;
	position: fixed;
	@include size(100%, 100%);
	@include abs-pos(0,0,0,0);
	background-color: rgba(0,0,0,0.5);
	vertical-align: middle;
	text-align: center;
	.progress {
		opacity: 1;
		@include size(50%, none);
		margin: 30% 25% 10% 25%;
	}
}

#tab-content {
	position: absolute;
	margin-top: 240px;
}

.view-container {
	position: absolute;
	top: 270px;
	@include size(100%);
}

#sidebar-container {
	width: 100%;
	height: 0px;
	overflow: visible;
}

.sidebar-not-fixed {
	position: absolute;
	@include abs-pos(0px,none, none, 0px);
}

.sidebar-fixed {
	position: fixed;
	@include abs-pos(70px);
}

#sidebar {
	.panel-body {
		padding-top:0px;
		padding-bottom: 0px;
		& > * {
			margin-top:5px;
			margin-bottom: 5px;
		}
	}
	ul {
		list-style: none;
		padding: 0px;
		margin-bottom: 0px;
	}
	.panel {
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.contents li {
		@include clickable;
	}
	.icon {
		display: inline-block;
		background-size: 18px 18px;
		@include size(18px);
		margin-bottom: -4px;
		margin-right: 5px;
	}
	.content-item {
		display: block;
		margin-bottom: 2px;
	}

	.link-item {
		white-space: nowrap;
		display: block;
	}

	.text-link {
		display: inline-block;
		margin-top: -3px;
	}
}

footer {
	position: relative;
	display: inline-block;
	text-align: center;
	bottom: 0px;
	width: 100%;
}