@import url(/style/vendor/bootstrap.min.css);
@import url(/style/vendor/hover-min.css);
@import url(/style/vendor/angular-carousel.min.css);
@import url(/style/vendor/ng-animation.css);
@import 'css3-mixins';
@import 'global';
@import 'animations';
@import 'layout';
@import 'navbar';
@import 'about';
@import 'home';
@import 'projects';
@import 'image-slider';
@import 'device-changes';

.statbox {
	border-radius: 20px;
	max-width:250px;
	border: 4px ridge rgba(60,90,150,0.6);
	float:left;
	margin: 0px 15px 5px 5px;
	padding:15px 0px 0px 10px;
	@include transform(rotateZ(-5deg));
}

.statbox > ul {
	list-style: none;
}

.statbox li {
	margin-left: -35px;
}

.statbox h5 {
	margin-left: 5px;
	text-decoration: underline;
	margin-top: -5px;
	margin-bottom: 5px;
}

.profile {
	float:left;
	@include min-size(150px);
	margin: 0px 15px 5px 0px;
	border: 1px solid gray;
	border-radius: 5px;
	&.my-photo {
		background: url(../assets/tyler-sitting.jpg) no-repeat;
		background-size: cover;
		@include transform(rotateZ(-5deg));
	}
}

.school-desc {
	margin: 10px 0px 5px 25px;
	word-wrap: break-word;
	overflow:hidden;
}

.document-wrapper {
	width: 100%;
	height: 25px;
	margin: 0px 0px -20px 0px;
	text-align: right;
	text-decoration: underline;
}

.document {
	float: right;
	margin-right:5px;
	margin-left: 10px;
}


