.stat-box {
  float: right;
  max-width: 25%;
  min-width: 300px;
  transform: rotateZ(-5deg);
}

.event-heading {
  display: flex;
  justify-content: space-between;
}

.event-title-wrapper {
  display: inline-flex;
  align-items: center;
}

.event-title {
  white-space: pre-wrap;
  text-decoration: underline;
}

.event-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  max-width: 100px;
  padding-right: 5px;
  text-align: center;
}

.org-location {
  text-align: right;
  font-size: 0.9rem;
}

.org-logo {
  margin: 0px 10px;
  width: $org-logo-size;
  max-height: $org-logo-size;
}

.domain {
  display: block;
  font-weight: 500;
  font-size: 1.25rem;
}

.responsibilities {
  display: block;
  margin-left: 25px;
  list-style: initial;
}

.event-desc {
  margin: 10px 0px 5px 25px;
  word-wrap: break-word;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .domain,
  .org-name {
    width: 100%;
    text-align: left;
  }
}

@media only screen and (max-width: 480px) {
  .stat-box {
    display: none;
  }
}
