#top {
  position: relative;
}

#banner {
  @include size(100%, 240px);
  overflow: hidden;
}

#banner-image {
  height: 100%;
  overflow: visible;
  z-index: 1;
  img {
    @include abs-pos(50%, none, none, 50%);
    min-width: 100%;
    transform: translate(-50%, -50%);
  }
}

#banner-cover {
  @include abs-pos(0px, none, none, 0px);
  @include size(100%);
  background: rgb(33, 37, 41);
  opacity: 0;
  z-index: 5;
}
