footer {
  position: relative;
  display: inline-block;
  text-align: center;
  bottom: 0px;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .back-to-top {
    display: inline-block;
  }
}
