.no-select,
img {
  @include no-cursor-events;
}

// flex items will expand according to their contents (i.e. a large image)
// unless we force non-default min-height, min-width, or overflow values.
.clear-flex-grow-expansion {
  overflow: hidden;
}

.facebook-round:before {
  background-image: url(../img/round-icons/Facebook-round.png);
}

.linkedin-round:before {
  background-image: url(../img/round-icons/Linkedin-round.png);
}

.google-round:before {
  background-image: url(../img/round-icons/Google-plus-round.png);
}

.ty-round:before {
  background-image: url(../img/round-icons/life-of-ty-sm.png);
}

.ph-round:before {
  background-image: url(../img/round-icons/pond-hopping-sm.png);
}

.email-round:before {
  background-image: url(../img/round-icons/email-2-icon.png);
}

.me-round:before {
  background-image: url(../img/round-icons/me-round.png);
}

.pdf-round:before {
  background-image: url(../img/round-icons/pdf-round.png);
}

.no-scroll {
  overflow: hidden;
}

.back-to-top {
  z-index: 100;
  display: none;
  opacity: 0.75;
  @include abs-pos(none, 10px, 25px);
}

@media only screen and (max-width: 480px) {
  .back-to-top {
    display: inline-block;
  }
}
