/* Inline Image Carousel */
.carousel-item {
  img {
    height: 325px;
    object-fit: cover;
  }
}
.carousel-indicators {
  bottom: -10px;
}

/* Full Screen Image Carousel */
.full-screen-modal {
  .carousel-item {
    img {
      height: 75vh;
      object-fit: cover;
      @include media-breakpoint-down(sm) {
        height: 325px;
      }
    }
  }
  .carousel-indicators {
    bottom: -35px;
  }
}
