#navbar {
  position: sticky;
  top: 0px;
  z-index: 5;
}

#name {
  font-family: "Bradley Hand";
  text-shadow: 2px 3px rgba(50, 50, 50, 0.7);
  transform-origin: center left;
  white-space: break-spaces;

  &.fly-in {
    position: absolute;
    font-size: 3em;
  }
}

.navbar-round-link {
  @include clickable;
  display: flex;
  align-items: center;
  &:before {
    content: "";
    display: inline-block;
    @include size($round-icon-size, $round-icon-size);
    margin-right: 5px;
    background-size: $round-icon-size $round-icon-size;
    background-repeat: no-repeat;
  }
}
