tbs-sidebar {
  position: fixed;
  @include pos(55vh, 0px);
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;

  .active {
    .side-nav-link-icon {
      background-color: rgba(50, 100, 150, 1);
    }
  }
}

.side-nav-area {
  position: absolute;
  right: 0px;
}

.side-nav-link {
  @include clickable;
  display: block;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  @include transition(transform ease-in-out 0.2s);
  &:hover {
    @include transform(scale(1.2, 1.2));
  }
}
.side-nav-link-icon {
  @include size(1.25rem);
  background-color: rgba(50, 100, 150, 0.6);
  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  tbs-sidebar {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  tbs-sidebar {
    display: none;
  }
}
