<nav id='navbar' class='navbar navbar-dark bg-dark navbar-expand-md'>
  <div class="container-fluid">
    <div class='postition-relative d-flex align-items-center'>
      <a id='name' class='navbar-brand fly-in'>Tyler Boddy&#8203;Spargo</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id='navbarCollapse' class='collapse navbar-collapse justify-content-end'>
      <ul class="navbar-nav">
        <li class='nav-item'>
          <a class='nav-link' href='/' ng-class="{active: activeTab == 'home'}">Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/about' ng-class="{active: activeTab == 'about'}">About</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/projects' ng-class="{active: activeTab == 'projects'}">Projects</a>
        </li>
        <li class="nav-item dropdown">
          <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Links
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class='dropdown-item email-round navbar-round-link' href='mailto:muyleche@gmail.com' target='_blank'
              rel="noopener noreferrer">E-mail</a></li>
            <li><a class='dropdown-item linkedin-round navbar-round-link' href='https://be.linkedin.com/in/tylerboddyspargo'
              target='_blank' rel="noopener noreferrer">LinkedIn</a></li>
            <li><a class='dropdown-item facebook-round navbar-round-link' href='https://www.facebook.com/tboddyspargo'
              target='_blank' rel="noopener noreferrer">Facebook</a></li>
            <li><a class='dropdown-item ty-round navbar-round-link' href='https://tylerbod.wordpress.com' target='_blank'
              rel="noopener noreferrer">Blog: Life of Ty</a></li>
            <li><a class='dropdown-item ph-round navbar-round-link' href='https://tboddyspargo.wordpress.com' target='_blank'
              rel="noopener noreferrer">Blog: Pond Hopping</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
