<footer>
	<span id='back-to-top' class="btn btn-xs btn-primary back-to-top" spark-scroll="{198: {'upRemoveClass,downAddClass': 'show-me'}}" scroll-to='top'>
		<span class='glyphicon glyphicon-menu-up'></span>
	</span>
	©2015 BoddySpargo Productions<br>
	Last updated: June 11, 2015 by <a href="mailto:muyleche@gmail">Tyler BoddySpargo</a>
</footer>