<div id='top' class="banner parallax-cont" spark-id='parallax'>
	<div class="parallax-shadow banner-shadow">
		<div id="banner-cover" spark-scroll-animate="{
		'centerTop-15':{ opacity: 0 },
		'bottomTop-30':{ opacity: 1 }}" spark-trigger='parallax'></div>
	</div>
	<h1 id='name' class='noselect'>Tyler BoddySpargo</h1>
	<div id="banner-image" spark-scroll-ease spark-scroll-animate="{
	topTop: { transform: 'translate3d(0px,-100px,0px)' },
	bottomTop:{ transform: 'translate3d(0px,-20px,0px)' }}" spark-trigger='parallax'></div>
</div>
<div  id='navbar-container' class='nav-not-fixed'  spark-scroll="{
    198:{ 'downAddClass,upRemoveClass': 'nav-fixed' }
    }">
	<ul class="nav nav-tabs left-nav">
		<a id='brand' class='navbar-brand hidden-left noselect' ng-click='makeActive(1);' href='/' spark-scroll-animate="{
		198:{ 'downRemoveClass,upAddClass': 'hidden-left' }}">Tyler BoddySpargo</a>
		<div id="navbar-hover-space">
			<div id="navbar-links-wrapper" class='left'>
				<a href='http://www.facebook.com/tboddyspargo' target='_blank' class='facebook-round navbar-round-link slide-out'></a>
				<a href='http://be.linkedin.com/in/tylerboddyspargo' target='_blank' class='linkedin-round navbar-round-link slide-out'></a>
				<a href='http://google.com/+TylerBoddySpargo' target='_blank' class='google-round navbar-round-link slide-out'></a>
				<a href='http://tylerbod.wordpress.com' class='ty-round navbar-round-link slide-out'></a>
				<a href='http://tboddyspargo.wordpress.com' class='ph-round navbar-round-link slide-out'></a>
				<a href='mailto:muyleche@gmail' class='email-round navbar-round-link'></a>
			</div>
		</div>
	</ul>
	<ul class="nav nav-tabs right-nav">
		<li role='presentation' ng-click='makeActive(1);' ng-class='{active:isActive(1)}'><a href='/'>Home</a></li>
		<li role='presentation' ng-click='makeActive(2);' ng-class='{active:isActive(2)}'><a href='/about'>About</a></li>
		<li role='presentation' ng-click='makeActive(3);' ng-class='{active:isActive(3)}'><a href='/projects'>Projects</a></li>
	</ul>
</div>