<div id="navbar">
	<ul class="nav nav-tabs left-nav">
		<a id='brand' class='navbar-brand hidden-left noselect' ng-click='makeActive(1); goTo("top");'>Tyler BoddySpargo</a>
		<div id="navbar-hover-space">
			<div id="navbar-links-wrapper" class='left'>
				<a href='http://www.facebook.com/tboddyspargo' target='_blank' class='facebook-round navbar-round-link slide-out hvr-grow'></a>
				<a href='http://be.linkedin.com/in/tylerboddyspargo' target='_blank' class='linkedin-round navbar-round-link hvr-grow slide-out'></a>
				<a href='http://google.com/+TylerBoddySpargo' target='_blank' class='google-round navbar-round-link hvr-grow slide-out'></a>
				<a href='http://tylerbod.wordpress.com' class='ty-round navbar-round-link hvr-grow slide-out'></a>
				<a href='http://tboddyspargo.wordpress.com' class='ph-round navbar-round-link hvr-grow slide-out'></a>
				<a href='mailto:muyleche@gmail' class='email-round navbar-round-link hvr-grow'></a>
			</div>
		</div>
	</ul>
	<ul class="nav nav-tabs right-nav">
		<li role='presentation' ng-click='makeActive(1); goTo("top");' ng-class='{active:isActive(1)}'><a href ng-class='{active:isActive(1)}'>Home</a></li>
		<li role='presentation' ng-click='makeActive(2); goTo("top");' ng-class='{active:isActive(2)}'><a href ng-class='{active:isActive(2)}'>About</a></li>
		<li role='presentation' ng-click='makeActive(3); goTo("top");' ng-class='{active:isActive(3)}'><a href ng-class='{active:isActive(3)}'>Projects</a></li>
	</ul>
</div>