<div id="navbar">
	<ul class="nav nav-tabs left-nav">
		<a id='brand' class='navbar-brand hidden-left noselect' ng-click='makeActive(1);' href='/'>Tyler BoddySpargo</a>
		<div id="navbar-hover-space">
			<div id="navbar-links-wrapper" class='left'>
				<a href='http://www.facebook.com/tboddyspargo' target='_blank' class='facebook-round navbar-round-link slide-out'></a>
				<a href='http://be.linkedin.com/in/tylerboddyspargo' target='_blank' class='linkedin-round navbar-round-link slide-out'></a>
				<a href='http://google.com/+TylerBoddySpargo' target='_blank' class='google-round navbar-round-link slide-out'></a>
				<a href='http://tylerbod.wordpress.com' class='ty-round navbar-round-link slide-out'></a>
				<a href='http://tboddyspargo.wordpress.com' class='ph-round navbar-round-link slide-out'></a>
				<a href='mailto:muyleche@gmail' class='email-round navbar-round-link'></a>
			</div>
		</div>
	</ul>
	<ul class="nav nav-tabs right-nav">
		<li role='presentation' ng-click='makeActive(1);' ng-class='{active:isActive(1)}'><a href='/'>Home</a></li>
		<li role='presentation' ng-click='makeActive(2);' ng-class='{active:isActive(2)}'><a href='/about'>About</a></li>
		<li role='presentation' ng-click='makeActive(3);' ng-class='{active:isActive(3)}'><a href='/projects'>Projects</a></li>
	</ul>
</div>