<div class="col-xs-1 col-lg-pull-0 col-xs-pull-1"></div>

<div class='col-xs-12 col-lg-10'>
	<home-content class="main-content col-xs-12 col-sm-8 col-md-9" ng-show='isActive(1)'></home-content>
	<about-content class="main-content col-xs-12 col-sm-8 col-md-9" ng-show='isActive(2)'></about-content>
	<projects-content class="main-content col-xs-12 col-sm-8 col-md-9" ng-show='isActive(3)'></projects-content>
</div>

