@media only screen and (max-width: 768px) {
  #sidebar {
    display: none;
  }
  .domain,
  .org-name {
    width: 100%;
    text-align: left;
  }
  .thumbnail-grid-item {
    div[class^="col"] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media only screen and (max-width: 480px) {
  #sidebar-container {
    display: none;
  }

  .back-to-top {
    display: inline-block;
  }

  .stat-box {
    display: none;
  }
}
