@media only screen and (max-width: 768px) {
  #brand {
    margin-left: -$brand-width;
  }

  #sidebar {
    display: none;
  }
  .domain,
  .org-name {
    width: 100%;
    text-align: left;
  }
  .thumbnail-grid-item {
    div[class^="col"] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media only screen and (max-width: 480px) {
  #name {
    font-size: 30px;
  }

  #sidebar-container {
    display: none;
  }

  .stat-box {
    display: none;
  }
}
