.no-select,
img {
  @include no-cursor-events;
}

.facebook-round:before {
  background-image: url(/assets/round-icons/Facebook-round.png);
}

.linkedin-round:before {
  background-image: url(/assets/round-icons/Linkedin-round.png);
}

.google-round:before {
  background-image: url(/assets/round-icons/Google-plus-round.png);
}

.ty-round:before {
  background-image: url(/assets/round-icons/life-of-ty-sm.png);
}

.ph-round:before {
  background-image: url(/assets/round-icons/pond-hopping-sm.png);
}

.email-round:before {
  background-image: url(/assets/round-icons/email-2-icon.png);
}

.me-round:before {
  background-image: url(/assets/round-icons/me-round.png);
}

.pdf-round:before {
  background-image: url(/assets/round-icons/pdf-round.png);
}

.no-scroll {
  overflow: hidden;
}

// A wiggle effect that will draw attention to actionable items.
@include keyframes("wiggle") {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.emphasize-interaction {
  @include animation("wiggle 3s ease-in-out infinite");
}

.back-to-top {
  z-index: 100;
  display: none;
  opacity: 0.75;
  @include abs-pos(none, 10px, 25px);
}

@media only screen and (max-width: 480px) {
  .back-to-top {
    display: inline-block;
  }
}
