/* Shared image carousel styles */
.image-carousel {
  position: relative; // helps appropriately place the carousel controls
  height: 100%;
  ul {
    height: 100%;
  }
}

.image-container {
  @include size(calc(100% - 6em), 100%);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    @include max-size(100%, 100%);
  }
}
.rn-carousel-control {
  top: calc(50% - 1em); // helps better vertically center the carousel controls
}

/* Inline Image Carousel */

.image-carousel.inline-carousel {
  height: 325px;

  .carousel-caption {
    bottom: 0px;
    text-shadow: 1px 1px 3px black;
  }
}

.toggle-image-slider {
  @include toggle-with-transparency;
}

/* Full Screen Image Carousel */

#image-viewer {
  position: fixed;
  @include pos(0px, none, none, 0px);
  @include size(100vw, 100vh);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);

  .image-carousel {
    padding-top: 4em;
  }

  .carousel-caption {
    position: relative;
    bottom: revert;
    right: revert;
    left: revert;
  }
}

#close-viewer {
  @include abs-pos(0.5em, 0.5em);
  @include button-with-transparency;
  font-size: 2.25em;
  z-index: 100;
}

/* Custom Image Slider CSS */
// .image-slider-wrapper {
// 	margin: -25px -15px 30px -15px;
// 	box-sizing:border-box;
// 	border-bottom: 1px solid rgba(200,200,200, 0.5);
// 	padding-bottom: 20px;
// 	background-color: white;
// 	position: relative;
// 	height:325px;
// 	overflow: hidden;
// }

// .image-slider {
// 	position: relative;
// }

// .image-slider-image {
// 	position: absolute;
// 	z-index: 0;
// 	@include size(100%, 100%);
// }
// .image-change {
// 	position:absolute;
// 	z-index:3;
// 	height: 100%;
// 	padding-top:140px;
// 	width: 15%;
// 	text-align: center;
// 	vertical-align: middle;
// 	@include transition(all 0.5s);
// 	> span {
// 		border-radius: 20px;
// 		background-color: rgba(255,255,255,0.3);
// 		color:rgba(50,50,50,0.3);
// 		border: 2px solid rgba(50,50,50,0.3);
// 		padding:2px 3px 3px 2px;
// 	}
// }

// .image-change.left {
// 	background: linear-gradient(270deg,rgba(50,50,50,0), rgba(50,50,50,0.15));
// }
// .image-change.right {
// 	background: linear-gradient(90deg,rgba(50,50,50,0), rgba(50,50,50,0.15));
// }

// .image-change:hover > span {
// 	background-color: rgba(255,255,255,0.5);
// 	color: rgba(35,82,124,1);
// 	border: 2px solid rgba(35,82,124,0.7);
// 	&.left:hover {
// 		background: linear-gradient(270deg,rgba(50,50,50,0.01), rgba(50,50,50,0.2));
// 		}
// 	&.right:hover {
// 		background: linear-gradient(90deg,rgba(50,50,50,0.01), rgba(50,50,50,0.2));
// 	}
// }

// .previous-image {
// 	left: 0px;
// }

// .next-image {
// 	right: 0px;
// }
