#loading {
  z-index: 5000;
  position: fixed;
  @include size(100%, 100%);
  @include abs-pos(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  text-align: center;

  .progress {
    opacity: 1;
    @include size(50%, none);
    margin: 30% 25% 10% 25%;
  }
}
