#navbar-container {
  position: sticky;
  top: 0px;
  z-index: 5;
}

#brand {
  @include transition(margin-left 0.3s ease-out);
}

.hidden-left {
  margin-left: -$brand-width;
}

.navbar-round-link {
  @include clickable;
  display: flex;
  align-items: center;
  &:before {
    content: "";
    display: inline-block;
    @include size($round-icon-size, $round-icon-size);
    margin-right: 5px;
    background-size: $round-icon-size $round-icon-size;
    background-repeat: no-repeat;
  }
}
