button.collapsed {
  & > .step-expand-icon {
    display: none;
  }
}

button:not(.collapsed) {
  & > .step-collapse-icon {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .thumbnail-grid-item {
    div[class^="col"] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
