button.collapsed {
  & > .step-expand-icon {
    display: none;
  }
}

button:not(.collapsed) {
  & > .step-collapse-icon {
    display: none;
  }
}

.step-bullet {
  float: left;
  margin-right: 10px;
}
